{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{port_env, [{"CFLAGS", "$CFLAGS -I. -std=c99 -Wall -W -Wundef -Wno-implicit-function-declaration"}]}.

{port_specs, [
    {"priv/xxhash_nif.so", ["c_src/*.c"]}
]}.

{eunit_opts, [verbose]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{edoc_opts, [{stylesheet_file, "./priv/edocs.css"}]}.

{cover_enabled, true}.