{erl_opts, [warnings_as_errors,  {w, all}, warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{eunit_opts, [verbose]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{edoc_opts, [{stylesheet_file, "./priv/edocs.css"}]}.

{cover_enabled, true}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd|openbsd)", compile, "gmake -C c_src"}
            ]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
              {"(freebsd|openbsd)", clean, "gmake -C c_src clean"}
             ]}.
